h1{
    font-family: 'Montserrat', sans-serif;
}

.text{
    display:"block";
}

.begin-button, .level-button { 
    color: #fff;	
    border: 1px solid  #0FC1B7;
    cursor:pointer;
   font-size: 1rem;
    margin: 0 auto;
    text-decoration: none;
    background-color: #29314A;
    
}

.begin-button{
    margin-top: 20px;
    padding:10px; 
    width:30%;
}

.begin-button:hover { 
    background-color: #0FC1B7;    
}

.level-button{width:20%}

.level-button:focus {
    background-color: #0FC1B7;
  
}
