h1{
    font-family: 'Montserrat', sans-serif;
}

.text{
    display:"block";
}

.home-button, .level-button { 
    color: #fff;	
    border: 1px solid  #0FC1B7;
    cursor:pointer;
    width:30%;
   
    margin: 0 auto;
    text-decoration: none;
    background-color: #29314A;
    
}

.home-button{
    margin-top: 20px;
    padding:10px; 
}

.home-button:hover { 
    background-color: #0FC1B7;    
}

/* .level-button{
    text-transform:lowercase;
    color: #29314A;
    background-color: #0FC1B7;
} */

.level-button:focus {
    background-color: #0FC1B7;
  
}

