 .question-card{
     
   padding:20px; 
    border: 1px #0FC1B7 solid;

 }


.option-button{
    
    color: #fff;	
    border: 1px solid  #0FC1B7;
    cursor:pointer;
    margin:10px;
    padding:10px; 
    width:15%;
    font-size: 1rem;

   
    background-color: #29314A;
      }
      
.option-button:hover{
        
        background-color:#0FC1B7;
        border: 2px solid #29314A;
        cursor:pointer;
      }
    
.select-option{
    color:white;
    
}

@media screen and (max-width: 800px) {
  .question-wrapper {
    font-size: 0.9rem; 
margin:0 auto;	
width:120%; 
},
.option-button{color:red}
}

@media screen and (max-width: 1000px) {
 
    .option-button{
      width:30%;
      margin:10px;
    }
}