.result-answer-wrapper{
    text-align: left;
    font-size: 1rem;
  
    
}


.correct,.false{
   font-size: 1.5rem;
   font-weight: bold;
   
    margin-right:20px;
}

.correct{ color: #54E346}

.false{
    color: red;
}

@media screen and (max-width: 1253px) {
    .result-answer-wrapper {
      font-size: 0.8rem;  
      height: 100%;
      margin: -100px;
    }
  }